/*.Imagen_header{
    background-image: url("/public/Header.jpg");
    height: 200px;
    width: 800px;
 }*/

  .container{
    border: 1px solid rgb(120, 115, 115);
    width: 1100px;
    height: 200px;
    overflow: hidden;
    position: relative;
   }

.container-footer{
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  flex-direction: column;
 border: 1px solid rgb(159, 155, 155);
  width: 1100px;
  height: 200px;
 }

 .button {
  background-color: #959595;
  padding-left: 40px;
  height: 10px;
  border: none;
  
  color: rgb(53, 50, 50);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 10px 2px;
  cursor: pointer;
}

 .container-barra{
  display: flex;
  flex-direction: row;
  justify-content:space-between;

  color: white;
  background-color: rgb(33, 31, 31);
  border: 1px solid rgb(120, 115, 115);
  width: 1100px;
  height: 50px;
  
  
  
 }


 .imagen{
  padding-top: 20px;
  padding-bottom: 10px;
  width: 200px;
  height: 200px;
  
  
 }

 .muestra-pizza{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: rgb(245, 245, 245);

  width: 1100px;
  height: 500px;
  overflow: hidden;
  position: relative;
 }

 .flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;  
}

 .muestra-pizza2{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;  
  color: rgb(149, 143, 143);
  background-color: rgb(245, 244, 244);
  border: 1px solid rgb(120, 115, 115);
  width: 350px;
  height: 480px;
  border-radius: 10px;
  
 }

 .barra-derecho{
  display: flex;
  justify-content:right;
  align-items: center;
  margin-right: 50px;
  
  
 }

 .total{
  width: 50px;
 }
 

 
 .barra-izquierda{
  display: flex;
  justify-content:start;
  align-items: center;
  padding-left: 10px;
  
 }

 .p-blanco{font-size: 1rem;
 color: white;
 position: absolute;
 top: 60%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-shadow: 0 0 8px black;
}

.ladoizquierdo-barra{font-size: 1rem;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px black;
 }

.container img{
  width: 100%;
 }

.container p{
  font-size: 1rem;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px black;
}

h1{
  font-size: 2.5rem;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px black;
}